@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    font-family: 'Montserrat';
    display: grid;
    align-items: center;
    /* text-align: center; */
    /* background-color: aquamarine; */
    /* background-color:#1c1c1c; */
    /* background: linear-gradient(270deg, rgba(39,39,39,1) 43%, rgba(28,28,28,1) 43%, rgba(28,28,28,1) 100%); */
    /* background: linear-gradient(322deg, rgba(113,174,33,1) 29%, rgba(28,28,28,1) 29%, rgba(28,28,28,1) 40%, rgba(113,174,33,1) 40%, rgba(113,174,33,1) 48%, rgba(28,28,28,1) 48%, rgba(28,28,28,1) 92%, rgba(113,174,33,1) 92%, rgba(113,174,33,1) 100%); */
    background: linear-gradient(322deg, rgba(43,46,39,1) 29%, rgba(28,28,28,1) 29%, rgba(28,28,28,1) 40%, rgba(43,46,39,1) 40%, rgba(43,46,39,1) 48%, rgba(28,28,28,1) 48%, rgba(28,28,28,1) 92%, rgba(113,174,33,1) 92%, rgba(113,174,33,1) 100%);
    color: white;
}

.container{
    width: 40%;
    margin-left: 4em;
    height: 50vh;
}

/* .container{
    background-color: aqua;
} */

h1{
    margin-top: 0;
    font-size: 4.4em;
}

p{
    font-size: 1.5em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

span{
    /* color: #71ae21; */
    position: relative;
}

span:before{
    position: absolute;
    content: '';
    height: .2em;
    width: 80%;
    bottom: .1em;
    z-index: -1;
    background-color: #71ae21;
}