@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    font-family: 'Montserrat';
    display: grid;
    align-items: center;
    color: white;
    background-image: url(./images//moon_dark.jpg);
    background-size:cover;
}

.container{
    width: 40%;
    margin-left: 4em;
    height: 50vh;
}

h1{
    margin-top: 0;
    font-size: 4.4em;
}

p{
    font-size: 1.5em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

span{
    position: relative;
}

span:before{
    position: absolute;
    content: '';
    height: .2em;
    width: 80%;
    bottom: .1em;
    z-index: -1;
    background-color: #e88a62;
}